<div class="tinder">
  <div class="tinder--cards">
    <div class="tinder--card">
      <img src="https://placeimg.com/480/300/people">
      <h3>Demo card 1</h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
</div>
