<div class="big-container">
  <div class="small-container">
    <h5> Swipe vers la droite </h5>
    <h5> Swipe vers la gauche </h5>
  </div>

  <div class="tinder">
    <div class="tinder--cards">
        <%= @themes.each do |theme| %>
          <%= theme.questions.each do |question| %>
            <div class="tinder--card">
            <img src="https://placeimg.com/240/300/people">
            <h2>Catégorie : <%= theme.name %> </h2>
            <p> <%= question.content %> </p>
            </div>
    </div>
  </div>
<% end %>
<% end %>
