<div class="tinder">

  <div class="tinder--cards">
      <% @questions.last(@questions.count - @answers).each do |question| %>
          <div class="tinder--card" id="<%= question.id %>">
            <%= image_tag question.photo %>
             <div class="text--container">
              <h4> <%= question.content %></h4>
             </div>
          </div>
      <% end %>
  <div class="calculating--cards">
    <img class="party--gif2 hidden" src='assets/party_4.gif' alt="logo" width = "400px">
    <div class="calculating hidden">
      <img class="calculating--image" src='assets/anim.gif' alt="logo" width = "150px">
        <h3 class="inner-text">Nous calculons les affinités avec vos futurs amis...</h3>
          <div class="col-3">
            <div class="snippet" data-title=".dot-windmill">
              <div class="stage">
                <div class="dot-windmill">
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="calculating2 hidden">
          <img class="party--gif" src='assets/party.gif' alt="logo" width = "200px">
            <h3 class="inner-text2">Félicitations ! Vous avez trouvé un groupe d'amis !</h3>
            <p>Rejoignez le maintenant !</p>
            <a href="#" class="button--in">Let's go !</a>
        </div>
    </div>
  </div>
</div>
  <div class="tinder--buttons">
    <img src="assets/arrow_final.gif" alt="gif" width="80px">
  </div>
  <div class="tinder--buttons2">
    <img src="assets/arrow_final.gif" alt="gif" width="80px">
  </div>
 </div>
<%= render 'pages/tab_bar'%>
