<div class="tinder">

  <div class="tinder--cards">
      <% @questions.last(@questions.count - @answers).each do |question| %>
          <div class="tinder--card" id="<%= question.id %>">
            <%= image_tag question.photo %>
             <div class="text--container">
              <h4> <%= question.content %></h4>
             </div>
          </div>
      <% end %>
  <div class="calculating--cards">
    <div class="calculating">
      <img class="calculating--image" src='assets/anim.gif' alt="logo" width = "150px">
        <h3>Nous calculons les affinités avec vos futurs amis...</h3>
              <div class="col-3">
          <div class="snippet" data-title=".dot-windmill">
            <div class="stage">
              <div class="dot-windmill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="tinder--buttons">
    <img src="assets/arrow_final.gif" alt="gif" width="80px">
  </div>
  <div class="tinder--buttons2">
    <img src="assets/arrow_final.gif" alt="gif" width="80px">
  </div>
 </div>
<%= render 'pages/tab_bar'%>
