<div class="tinder">

  <div class="tinder--cards">
    <% @themes.each do |theme| %>
      <% theme.questions.each do |question| %>
        <% unless question.answer.response == nil %>
          <div class="tinder--card" id="<%= question.id %>">
            <%= image_tag question.photo %>
             <div class="text--container">
              <h4> <%= question.content %></h4>
             </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <div class="calculating--cards">
    <div class="calculating">
      <img class="calculating--image" src='assets/anim.gif' alt="logo" width = "150px">
        <h3>Nous calculons les affinités avec vos futurs amis...</h3>
              <div class="col-3">
          <div class="snippet" data-title=".dot-windmill">
            <div class="stage">
              <div class="dot-windmill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="tinder--buttons">
      <button id="nope">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
      </button>
      <button id="love"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
      </svg></button>
    </div>
  </div>
<%= render 'pages/tab_bar'%>
