// Specific CSS for your home-page
.home-container {
  text-align: center;
  background-color: #FF970F;
  background: linear-gradient(117deg, rgb(255, 153, 19) 0%, rgb(255, 148, 9) 100%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  gap: 4vh;
}

.logo {
  width: 80vw;
  margin: 0 auto;
}

.btn-container {
  margin-top: 20px;
}