<div class="chatrooms">

      <img src="<%= image_path("onglet_appleFichier 40-8.png") %>" alt="logo" class="group">
    <p class="message">Vous n'avez pas encore de conversation pour le moment </p>
<%= render 'pages/tab_bar'%>
</div>