@import 'messages';
.chatrooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.group {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.message {
  // layout
  position: relative;
  max-width: 70vw;

  // looks
  background-color: #fff;
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.message::before {
  // layout
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%; // offset should move with padding of parent
  border: .75rem solid transparent;
  border-top: none;

  // looks
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}