.chat-global {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
}

.chatarea {
  overflow: scroll;
  width: 100%;
}
.nav-top {
  background-color: #FF970F;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(51,51,51,0.2);
  align-items: center;
  color: white;
}

.fake {
  width: 10vw;
}

.location {
  width: 100px;
  display: flex;
  align-items: center;
  padding-bottom: 1vh;
}
.location svg {
  width: 40px;
  margin-left: 10px;
}
.location p {
  font-size: 20px;
  margin-left: 5px;
}

.utilisateur {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text: center;
}

.utilisateur p:nth-child(1){
  font-size: 20px;
}
.utilisateur p:nth-child(2){
  font-size: 14px;
  opacity: 0.8;
}

.chat-infos {
  width: 50px;
}
.chat-infos svg{
  height: 30px;
}


/* **********CONVERSATION********** */

.conversation {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  overflow-y: scroll;
  flex-grow: 1;
}
.talk {
  margin: 20px 0 20px 5px;
  color: #F1F1F1;
  font-size: 18px;
  width: 70%;
}
.talk img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: auto;
}

.talk p {
  padding: 15px;
  line-height: 25px;
  border-radius: 20px;
}
.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}
.left {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-left: 10px;
}
.right p {
  margin-right: 10px;
  background: #FF970F;
  background: linear-gradient(117deg, rgb(255, 153, 19) 0%, rgb(255, 148, 9) 100%);
}
.left p {
  margin-left: 10px;
  background: rgb(216,216,216);
  color: #000;
}
.left small {
  position: absolute;
  color: #000;
  left: 80px;
  top: -20px;
}

.bot-msg p{
  background: #8A93FF;
  color: #F1F1F1;
}

/* **********FORM********** */

.chat-form {
  flex-shrink: 0;
  width: 100%;
  height: 65px;
  background: #f1f1f1;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.container-inputs-stuffs {
  background: #fff;
  display: flex;
  gap: 0;
  width: 90%;
  height: 50px;
  border-radius: 9999px;
}

.group-inp {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-inp i {
  font-size: 20px;
}
.group-inp input {
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin-left: 20px;
}
.group-inp input:focus {
  outline: none;
}


.files-logo-cont {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.files-logo-cont img {
  width: 30px;
}

.submit-msg-btn {
  background: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 60px;
  border: none;
  display: flex;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #eee;
}

.bot-btn{
  background: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 60px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #eee;
}

.submit-msg-btn svg {
  width: 30px;
  height: 30px;
}

.propositions {
  background: #FFBB00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.proposition {
  height: 50px;
  width:90%;
  margin: 10px;
  background: #FFf;
  border-radius: 10px;
}

//---------------------------------------------------

.modal-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 70vw;
  height: 30vh;
  background: white;
  z-index: 1000;
  opacity: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.modal img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.modal .infos {
  padding: 10px;
  text-align: center;

}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.profile-modal {
  background: #FF970F;
  width: 100%;
  padding: 10px;
  border-radius: 30px 30px 0 0;
  color: white;
  display: flex;
  align-items: center;
  gap: 10%;
}

.dropdown {
  position: relative;
  width: 30px;
  filter: url(#goo);

  &__face,
  &__items {
    background-color: #FF970F;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-right: 6px;
  }

  &__face {
    position: relative;
  }

  &__items {
    margin: 0;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 250px;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    padding: 1rem;
    text-align: center;
  }

  input {
    display: none;

    &:checked ~ .dropdown__items {
      top: calc(100% + 25px);
      visibility: visible;
      opacity: 1;
    }
  }
}
.tags {
  margin-top: 10px;
}

.tag {
  background: #FFF;
  border-radius: 12px;
  color: #8993FE;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-family: "Quicksand Bold";
}
