<div class="menu">
    <%= link_to profile_path, class: "link #{'active' if current_page?(profile_path)}" do %>
		<span class="link-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
				<rect width="256" height="256" fill="none"></rect>
				<circle cx="128" cy="96" r="64" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16"></circle>
				<path d="M30.989,215.99064a112.03731,112.03731,0,0,1,194.02311.002" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
			</svg>
		</span>
    <span class="link-title">Profil</span>
  <% end %>
  <%= link_to swiper_path, class: "link #{'active' if current_page?(swiper_path)}" do %>
		<span class="link-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.15 114.16"><defs><style>.cls-1{fill:#fff;stroke:#271511;stroke-miterlimit:10;stroke-width:6px;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><rect class="cls-1" x="24.2" y="16.66" width="69.45" height="96" rx="10.55"/><rect class="cls-1" x="17.73" y="10.87" width="69.45" height="96" rx="10.55" transform="matrix(0.99, -0.14, 0.14, 0.99, -7.6, 7.77)"/><rect class="cls-1" x="8.2" y="5.43" width="69.45" height="96" rx="10.55" transform="translate(-9.4 9.17) rotate(-11)"/></g></g></svg>
		</span>
    <span class="link-title">Swipe</span>
    <% end %>
    <%= link_to chatrooms_path, class: "link" do %>
		<span class="link-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
				<rect width="256" height="256" fill="none"></rect>
				<path d="M45.42853,176.99811A95.95978,95.95978,0,1,1,79.00228,210.5717l.00023-.001L45.84594,220.044a8,8,0,0,1-9.89-9.89l9.47331-33.15657Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
				<line x1="96" y1="112" x2="160" y2="112" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
				<line x1="96" y1="144" x2="160" y2="144" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
			</svg>
		</span>
    <span class="link-title">Chat</span>
    <% end %>
</div>
