<div class="home-container">
  <%= image_tag("logo_origami_bleuFichier 22-8.png", :alt => "logo", class: 'logo') %>
  <%#= link_to 'Sign in with Spotify', '/auth/spotify' %>
  <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-white btn-home"  %>
  <%= link_to "Se connecter", user_session_path, class: "btn btn-outline btn-home"  %>
</div>
