.btn {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 14px 24px;
  border-radius: 100em;
  font-size: 22px;
  margin: 0 20px;
  font-weight: bold;
}

.btn-white {
  background-color: white;
  color: #3653B0;
}

.btn-home {
  margin-top: 20px;
}

.btn-outline {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.btn-color {
  background: rgb(255,175,33);
  background: linear-gradient(43deg, rgba(255,175,33,1) 0%, rgba(255,111,0,1) 100%);
  color: white;
  border: none;
}