.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

.svg-icon circle {
  stroke: #000;
  stroke-width: 1;
}

.container-profile {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.header-profile {
  width: 100%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #eee;
  align-items: center;
  gap: 2vh;
}

.header-profile img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 200px;
  box-shadow: 0px 40px 40px rgba(32, 79, 211, 0.16);
}

.name {
  color: var(--text-color);
}

.description {
  text-align: center;
  font-style: normal;
}


.age {
  color: var(--gray-color);
  text-align: center;
}

.item {
  border-bottom: 1px solid #eee;
  padding: 2vh 5vw;
  display: flex;
  align-items: center;
  gap: 8vw;
}

.photo-icon {
  width: 2em;
  height: 2em;
}

.arrow {
 margin-left: auto;
}