// Graphical variables
@import "config/fonts";
@import "config/colors";

// Your CSS partials
@import "components/index";
@import "pages/index";

@font-face {
  font-family: 'Quicksand Regular';
  src: url('../fonts/Quicksand-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Quicksand Regular', sans-serif;
}

.none {
  display: none;
}