// Graphical variables
@import "config/fonts";
@import "config/colors";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";


@font-face {
  font-family: 'Quicksand Regular';
  src: url('app/assets/fonts/Quicksand-Regular.ttf')  format('truetype');
}

body {
  margin: 0;
  font-family: 'Quicksand Regular', sans-serif;
  background-color: #FF6F00;
}

.none {
  display: none;
}

.tinder--cards {
  width: 30em;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29)
}
