// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";
@import "components/profile";
@import "chatroom/index";
@import "swiper/index";

@font-face {
  font-family: 'Quicksand Regular';
  src: font-url('Quicksand-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: font-url('Quicksand-Bold.ttf')  format('truetype');
}

* {
  font-family: 'Quicksand Regular', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Quicksand Regular', sans-serif;
  background-color: #FF970F;
  background: linear-gradient(117deg, rgb(255, 153, 19) 0%, rgb(255, 148, 9) 100%);
  overflow: hidden;
  font-family: sans-serif;
  overscroll-behavior-y: none;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  background-color: #FF970F;
  overscroll-behavior-y: none;
}

.bold {
  font-family: 'Quicksand Bold', sans-serif;
}
.none {
  display: none;
}
