.form-registration {
  text-align: center;
  background: #fff;
  height: 100vh;
  gap: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div .input {
  margin-bottom: 10vh;
}
.input-registration {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  margin: 0 auto;
}
.input-registration:focus { outline:none; }

abbr { display:none; }

select {
  -webkit-appearance: none;
  background: white;
  color: #757575;
}

#myProgress {
  position: absolute;
  top: -5px;
  left: 0;
  width:100vw;
  border-radius: 0;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 18px;
  background: rgb(255,175,33);
  background: linear-gradient(43deg, rgba(255,175,33,1) 0%, rgba(255,111,0,1) 100%);
}

.arrow-left {
  color: #909090;
  font-size: 35px;
  position: absolute;
  top: 30px;
  left: 15px;
}

.form-registration textarea {
  font-size:18px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  margin: 0 auto;
}

.form-registration textarea:focus { outline:none; }